Repository kit-sdq/programming-lecture-eclipse-artemis, pull requests merged in 2022-11, with the labels that each got.

#264 Add build commands to imported project
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/artemis/WorkspaceUtil.java
Labels: bug, student-edition

#262 Add button to close assessment without submitting
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/controller/IGradingSystemwideController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/GradingSystemwideController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/languages/GermanLanguage.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/languages/I18N.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/ui/AbstractResultTabComposite.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/ArtemisGradingView.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/AssessmentTab.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/AssessmentTabComposite.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/controllers/AssessmentViewController.java
  docs/grading/grading.rst
  docs/images/gradingedition_assessment.png
Labels: grading-edition

#263 Add an option to open files automatically & expand all packages when starting an assessment
  bundles/edu.kit.kastel.sdq.eclipse.common.api/META-INF/MANIFEST.MF
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/PreferenceConstants.java
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/controller/IAssessmentController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/AssessmentController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/META-INF/MANIFEST.MF
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/languages/GermanLanguage.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/languages/I18N.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/preferences/AdvancedPreferences.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/preferences/PreferenceInitializer.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/utilities/AssessmentUtilities.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/utilities/JDTUtilities.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/META-INF/MANIFEST.MF
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/ArtemisGradingView.java
  docs/images/preferences-details.png
Labels: grading-edition

#266 Add StartDate functionality
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/artemis/mapping/IExercise.java
  bundles/edu.kit.kastel.sdq.eclipse.common.client/src/edu/kit/kastel/eclipse/common/client/mappings/ArtemisExercise.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/StudentSystemwideController.java
Labels: student-edition
