Repository kit-sdq/programming-lecture-eclipse-artemis, pull requests merged in 2022-10, with the labels that each got.

#245 Implementation of Login Workflow
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/PreferenceConstants.java
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/artemis/mapping/User.java
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/client/IAuthenticationArtemisClient.java
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/controller/IArtemisController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.client/META-INF/MANIFEST.MF
  bundles/edu.kit.kastel.sdq.eclipse.common.client/src/edu/kit/kastel/eclipse/common/client/BrowserLogin.java
  bundles/edu.kit.kastel.sdq.eclipse.common.client/src/edu/kit/kastel/eclipse/common/client/git/GitHandler.java
  bundles/edu.kit.kastel.sdq.eclipse.common.client/src/edu/kit/kastel/eclipse/common/client/rest/AbstractArtemisClient.java
  bundles/edu.kit.kastel.sdq.eclipse.common.client/src/edu/kit/kastel/eclipse/common/client/rest/LoginManager.java
  bundles/edu.kit.kastel.sdq.eclipse.common.client/src/edu/kit/kastel/eclipse/common/client/rest/RestClientManager.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/ArtemisController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/ExerciseArtemisController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/GradingSystemwideController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/StudentSystemwideController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/eclipse/common/core/SystemwideController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/preferences/AdvancedPreferences.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/preferences/ArtemisPreferencesPage.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/preferences/PreferenceInitializer.java
Labels: prio:high

#248 Feature/arm64
  .github/workflows/full-build-pr-and-main.yml
  .github/workflows/release.yml
  pom.xml
Labels: prio:low, student-edition, grading-edition, github_actions

#254 Add a dialog and keybinding for creating annotations
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/eclipse/common/api/PreferenceConstants.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/languages/GermanLanguage.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/languages/I18N.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/preferences/AdvancedPreferences.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/preferences/PreferenceInitializer.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/utilities/AssessmentUtilities.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/META-INF/MANIFEST.MF
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/plugin.xml
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/ArtemisGradingView.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/commands/AddAnnotationCommandHandler.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/commands/AddAnnotationDialog.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/commands/AnnotationFilter.java
  docs/grading/grading.rst
  docs/images/add_annotation.png
Labels: documentation, prio:high, grading-edition
