Repository kit-sdq/programming-lecture-eclipse-artemis, pull requests merged in 2022-05, with the labels that each got.

#202 Added update of description of custom penalty-markers.
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/utilities/AssessmentUtilities.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/listeners/AssessmentMarkerViewDoubleClickListener.java
Labels: grading-edition

#200 Marker for Annotation marks lines
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/sdq/eclipse/common/api/controller/AbstractController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/sdq/eclipse/common/api/controller/IAssessmentController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.api/src/edu/kit/kastel/sdq/eclipse/common/api/model/IAnnotation.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/sdq/eclipse/common/core/AssessmentController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/sdq/eclipse/common/core/StudentSystemwideController.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/sdq/eclipse/common/core/artemis/AnnotationMapper.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/sdq/eclipse/common/core/model/annotation/Annotation.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/sdq/eclipse/common/core/model/annotation/DefaultAnnotationDao.java
  bundles/edu.kit.kastel.sdq.eclipse.common.core/src/edu/kit/kastel/sdq/eclipse/common/core/model/annotation/IAnnotationDao.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/marker/AssessmentMarkerPositionField.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/ui/AbstractResultTab.java
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/utilities/AssessmentUtilities.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/ArtemisGradingView.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/CustomButtonDialog.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/assessment/ResultTab.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/controllers/AssessmentViewController.java
  bundles/edu.kit.kastel.sdq.eclipse.grading.view/src/edu/kit/kastel/eclipse/grading/view/listeners/AssessmentMarkerViewDoubleClickListener.java
  bundles/edu.kit.kastel.sdq.eclipse.student.view/src/edu/kit/kastel/eclipse/student/view/ui/ResultTab.java
Labels: student-edition, grading-edition

#211 Fixed TestDetailsDialog
  bundles/edu.kit.kastel.sdq.eclipse.common.view/src/edu/kit/kastel/eclipse/common/view/ui/TestDetailsDialog.java
Labels: student-edition, grading-edition

#224 Remove JVM Feature
  jvm/README.md
  jvm/feature/build.properties
  jvm/feature/feature.xml
  jvm/feature/pom.xml
  jvm/linux/META-INF/MANIFEST.MF
  jvm/linux/build.properties
  jvm/linux/pom.xml
  jvm/linux/src/main/template/META-INF/p2.inf
  jvm/pom.xml
  jvm/windows/META-INF/MANIFEST.MF
  jvm/windows/build.properties
  jvm/windows/pom.xml
  jvm/windows/src/main/template/META-INF/p2.inf
  pom.xml
  releng/edu.kit.kastel.sdq.eclipse.grading.product/edu.kit.kastel.sdq.eclipse.grading.product
  releng/edu.kit.kastel.sdq.eclipse.student.product/edu.kit.kastel.sdq.eclipse.student.product
Labels: Product
